<ion-header>
  <ion-toolbar>
    <ion-title>Rutas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item-sliding *ngFor="let route of routes; let i = index">
          <ion-card>
            <ion-item class="item-box">
              <div class="route-box">                
                <ion-text>{{route.name}}</ion-text>
              </div>
            </ion-item>
            <ion-item-options expandable side="end">
              <ion-item-option color="danger">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-card>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createRoute()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
